﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="StatDetails.aspx.cs" Inherits="VMTips_2014.StatDetails" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div id="resultView">
        <asp:Panel ID="content" runat="server">
            <asp:Table ID="tblDetails" runat="server" />
        </asp:Panel>
    </div>
    </form>
</body>
</html>
